/* Corpo com fundo verde */
body {
    margin: 0;
    padding: 0;
    background-color: #4CAF50; /* Verde */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

/* Container centralizado para o conteúdo */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caixa branca com cantos arredondados */
.content-box {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Botão inicial */
#start-btn {
    background-color: #008CBA;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-btn:hover {
    background-color: #007bb5;
}

/* Perguntas e alternativas */
h2 {
    margin-bottom: 20px;
}

.choices-container {
    margin-bottom: 20px;
}

/* Botões das alternativas com letras A, B, C, D, E */
.choice-btn {
    display: block;
    background-color: #f0f0f0;
    color: black;
    border: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.choice-btn:hover {
    background-color: #e0e0e0;
}

/* Botão de confirmar escolha */
#check-answer-btn, #next-question-btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#check-answer-btn:hover, #next-question-btn:hover {
    background-color: #007bb5;
}

/* Esconder elementos */
.hidden {
    display: none;
}
