.question-container {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
    padding: 10px;
}

.confirm-button {
    display: inline-block; /* Para mover o botão ao lado */
    margin-left: 20px;
}
